:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --font-heavy: 900;
  }
  a {
    color: var(--primary-color);
  }
  p {
    font-weight: var(--font-heavy);
  }
  

body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: lightgray;
}

a {
    color: #357b70;
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:visited {
    /* visited link */
    color: #05676e;
}

a:active {
    /* selected links */
    color: #489c79;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

button, .button {
    /* overwrites browser defaults and resets the border*/
    border: none;
    display: inline-block;
    /* takes the font from the outer container*/
    font-family: inherit;
    /* styles the button*/
    background-color:#e0b354;;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border,type, color*/
    border-bottom: 2px solid rgba(0,0,0, 0.3);
    transition: opacity 0.2s;
}
button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
.navigation-list__item--active {
    text-decoration: none;
}
.skill-html {
    color: blue;
    font-weight: bold;
}
.skill-css {
    color: red;
    font-weight: bold;
}
.skill-js {
    color: green;
    font-weight: bold;
}
.standard-label {
    color: blueviolet;
    line-height: 2.6;
}
.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
/* Fix p and h1 on the about.html and make a class if you don't want centered.*/
h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
}
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    flex: 0 1 200px;
    width: 20px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}
/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        /* grid-template-columns: 300px 300px 300px; fr actions are better than pixels- they are responsive */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: auto 70px;
    }
.grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
}
.grid__item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
}
}
@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}
p {
    text-align: center;
}
table {
    margin: 0 auto;
}@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #fcffad;
    }
    100% {
        fill: #f76414;
    }
}
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move {
    0% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(200px, 50px);
    }
}
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
    0% {
        transform: translate(446px, 48px);
    }
    100% {
        transform: translate(100px, 48px);
    }
}
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Colors used
Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
Use https://www.color-hex.com/ for more HEX color codes */
